html {
  height: 100%;
  margin: 0;
  padding: 0;
}

hr {
  border: 1px solid rgb(99, 60, 60);
  padding: 0;
  margin: auto;
  width: 50%;
}

body {
  margin: 0;
  min-height: 100%;
  padding: 0;
}

/* home page styling */

.main-container {
  padding-top: 10vh;
  font-family: "Inter", sans-serif;
  background-color: #6c6cf3;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.main-logo {
  margin-bottom: 20px;
}

.main-logo svg {
  height: 120px;
  color: #000000;
}

.main-heading {
  font-family: "Inter", sans-serif;
  font-size: 9vh;
  width: 30%;
  text-align: center;
  margin-bottom: 20px;
}

.main-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  font-weight: bold;
  font-size: x-large;
  border-radius: 4px;
  margin: 5vh 0 5vh 0;
  cursor: pointer;
}

/* Feature section */
.feature-container {
  font-family: "Inter", sans-serif;
  padding-top: 10vh;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  background-color: #6c6cf3;
  padding: 0px 100px 40px 100px;
}

.feature1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10vh;
}

.feature2 {
  display: flex;
  column-gap: 10vh;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.feature-container .feature-img {
  width: 60vw;
  height: 50vh;
  border-radius: 5px;
}

 .feature-heading {
  font-family: "Inter", sans-serif;
  font-size: 5vh;
  margin-bottom: 10px;
  width: 60%;
  font-weight: 600;
  text-align: center;
}

.feature-container .feature-text {
  font-size: x-large;
  line-height: 1.5;
  width: 80%;
  color: #060563;
  text-align: left;
}

/* Bottom section */
.bottom {
  text-align: center;
  padding: 10px 0 20px 20px;
  font-family: "Inter", sans-serif;
  background-color: #333;
  color: #fff;
}

.bottom-heading {
  font-size: 10vh;
  margin-bottom: 5px;
}

.bottom-text {
  font-size: 2vh;
}

/* login page styling */

.login {
  background-color: #6c6cf3;
}

.container {
  width: 25%;
  margin: 0 auto;
  padding: 30px;
  border: 3px solid #9197ef;
  margin-top: 20vh;
  background-color: #ffffff;
  border-radius: 5px;
}

.container h2 {
  text-align: center;
  color: #5252ff;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.container input[type="text"],
.container input[type="password"],
.container input[type="email"] {
  width: 96.5%;
  padding: 10px 0 10px 10px;
  margin-bottom: 15px;
  outline: none;
  border: 2px solid #414de8;
  font-family: "Inter", sans-serif;
}

.container input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #7171f7;
  color: white;
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.toggle-button {
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
  color: #2365e9;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  font-size: small;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

/* dashboard page styling */

.header {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  column-gap: 70px;
  padding-top: 20px;
}


.main-dashboard {
  padding-top: 10vh;
  font-family: "Inter", sans-serif;
  background-color: #6c6cf3;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
}

.saved{
 
  padding-top: 10vh;
  min-height: 100%;
  font-family: "Inter", sans-serif;
  background-color: #6c6cf3;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.input {
  width: 30%;
  padding: 10px 0 10px 10px;
  margin-bottom: 10px;
  outline: none;
  border: 2px solid #414de8;
  font-family: "Inter", sans-serif;
}

.candidate-card{
    display: flex;
    height: 25vh;
    width:  40vw ;
     justify-content: space-around;
      align-items: center;
     padding: 10px;
     margin: 20px;
     border-top: #000000 1px solid;
}

.candidate-img{
    height: 20vh;
    border-radius: 5px;
}

.search {
  margin: auto;
  padding-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

a{
   color: white;
   text-decoration: none;
}

.saved-btn {
  display: inline-block;

  background-color: #3a46b6;
  padding: 5px 10px 5px 10px;
  color: #fff;
  font-size: large;
  border-radius: 10px;
  cursor: pointer;
}

.save-btn {
  display: inline-block;
  margin: 75px;
  background-color: #393e69;
  padding: 5px 10px 5px 10px;
  color: #fff;
  font-size: medium;
  border-radius: 5px;
  cursor: pointer;
}

.logout-btn {
  display: inline-block;
  background-color: #3a4355;
  padding: 5px 10px 5px 10px;
  color: #fff;
  font-size: large;
  border-radius: 20px;
  
  cursor: pointer;
}


.home-btn {
  background-color: #3a4355;
  padding: 5px 10px 5px 10px;
  color: #fff;
  font-size: large;
  border-radius: 20px;
  cursor: pointer;
}
